.col-md-4 img {
  width:200px;
  height:200px;
}

.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
}

.thumbnail-detail {
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align: center;
 
    img {
        height: 100%;
    }
}
